<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Guild Wars 2 Trading Post</h2>
    <p>
        The website is a delightful project created to explore EmberJS.
    </p>
    {{#link-to 'contact' class="button"}} Contact Us {{/link-to}}
</div>