<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact Us</h2>
    <p>
        <p>
            Andrew DePersio
        </p>
        <a href="andrew.depersio.net">My Portfolio</a>
        <br>
        <a href="mailto:andrew@deprsio.net">Email Me</a>
    </p>
    {{#link-to 'about' class="button"}} About {{/link-to}}
</div>